/*Default margin, padding*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Default font and background*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
}

/*Header*/
.header {
    text-align: center;
    margin-top: 20px;
}
.header h2 {
    color: black;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 1px 1px 3px rgb(255, 0, 0);
}
.header p {
    font-size:20px;
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 30px;
}
.header img {
    border-radius:50%;
    width:100px;
    height:100px;
}

/*Header end*/

/*Add participant*/

.add-participant {
    margin-top:20px;
    text-align: center;
}
.btn {
    width: 120px;
    height: 40px;
    outline: none;
    border:none;
    background-color: #27ae60;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: whitesmoke;
}
.add-participant input {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 10px;
    border: 1px solid #27ae60;
}
.add-participant input[type='text'] {
    padding-left: 10px;
    font-size: 20px;
}

/*Add participant end*/

/*Content */
.content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.participant {
    width:30%;
    height: 50vh;
    background-color: #d35400;
    border-radius:10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.363);
} 
.shuffle {
    width:20%;
    text-align: center;
    height: 50vh;
    margin-top:20px;
}
.winner {
    width:30%;
    background-color: #2980b9;
    border-radius: 10px;
    height: 50vh;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.363);
}

.content .participant p {
    padding:10px;
    text-align: center;
    color: whitesmoke;
    font-size:25px;
}
ul {
    list-style-type: none;
    padding:10px;
}
ul li {
    padding: 2px;
    color:whitesmoke;
    font-size: 15px;
}
.content .winner p {
    padding:10px;
    text-align: center;
    color: whitesmoke;
    font-size:25px;

}
.winner-list {
    list-style-type: none;
    padding:10px;
}

#contest-winner {
    transition: 30s;
    opacity: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
/*Content end*/



/* Animation for text effect*/

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}